<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ניתוח שמות ישראליים</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <h1>ניתוח שמות ישראליים</h1>
	<form action="/" method="post">
		<div class="form-container">
			<label for="name">שם:</label>
			<input type="text" id="name" name="name" required value="{{ request.form['name'] }}">
			<br>
			<label for="M_status">גברים:</label>
			<input type="checkbox" id="M_status" name="M_status" {% if request.form['M_status'] %}checked{% endif %}>
			<br>
			<label for="F_status">נשים:</label>
			<input type="checkbox" id="F_status" name="F_status" {% if request.form['F_status'] %}checked{% endif %}>
			<br>
			<label for="religion">דת:</label>
			<select id="religion" name="religion">
				<option value="Jews" {% if request.form['religion'] == 'Jews' %}selected{% endif %}>יהודים</option>
				<option value="Muslims" {% if request.form['religion'] == 'Muslims' %}selected{% endif %}>מוסלמים</option>
				<option value="Christians" {% if request.form['religion'] == 'Christians' %}selected{% endif %}>נוצרים</option>
			</select>
			<br>
		</div>
		<button type="submit" class="submit-button">
			<i class="fas fa-search"></i>
		</button>
	</form>
	<div class="messages">
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
	</div>
    {% if graphJSON %}
        <div id="plotly_graph"></div>
        <script>
            var graph = document.getElementById('plotly_graph');
            var graphJSON = {{ graphJSON | safe }};
            Plotly.newPlot(graph, graphJSON.data, graphJSON.layout);
        </script>
    {% endif %}
	<div class="footer">
		<p>All rights reserved to Ariel Cohen 2023</p>
	</div>
</body>
</html>